<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="ajax-snippet"></div>
    <div class="header">
    Sh*t the candidates say
    </div>
    {% for name, candidate_info in info.iteritems() %}
        <div class="{{ candidate_info['party'] }} header">
        Sh*t {{ name | safe }} says
        </div>
        <ul class="quotes">
        {% for quote in candidate_info["quotes"] %}
            <li>{{ quote }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    <a class="quiz" href="whosaidthisshit">Are you f***ing ready to take a quiz?</a>
    

    <!-- Mad lib form -->
    <!-- <form id="madlibForm" method="POST">
        
        <div class="section">
            <div class="error"></div>
            <label for="name">Enter your name: </label> 
            <input type="text" id="name" name="name">
        </div>
        <div class="section">
            <div class="error"></div>
            <label for="partner">Choose your partner: </label> 
            <select id="partner">
                <option value="Jae-suk">Yoomes Bond</option>
                <option value="Gary">Peaceful Gary</option>
                <option value="Haha">Haroro</option>
                <option value="Jong-kook">Commander Kookie</option>
                <option value="Suk-jin">Big Nose</option>
                <option value="Kwang-soo">Giraffe</option>
                <option value="Ji-hyo">Blank Ji</option>
            </select>
        </div>
        <div class="section">
            <div class="error"></div>
            <label for="team-size">How many teams would you like there to be?</label> 
            <input type="number" id="team-size" name="team-size">
        </div>
        <div class="section">
            <div class="error"></div>
            <p>Select missions.</p>
            <div class="checkbox-container">
                <input type="checkbox" name="games" id="games1" value="superpower soccer"><label for="games1">Superpower Soccer</label>
            </div>
            <div class="checkbox-container">
             <input type="checkbox" name="games" id="games2" value="cooking competition"><label for="games2">Cooking Competition</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name="games" id="games3" value="acupuncture mat game"><label for="games3">Acupuncture Mat Game</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name="games" id="games4" value="quiz"><label for="games4">Quiz</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name="games" id="games5" value="water game"><label for="games5">Water Game</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name="games" id="games6" value="rock-paper-scissors"><label for="games6">Rock-Paper-Scissors</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" name="games" id="games7" value="heartbeat-raising game"><label for="games7">Heartbeat-Raising Game</label>
            </div>
        
        </div>
        <div class="section">
            <div class="error"></div>
            <p>Would you like today's game to be a spy game?</p>
            <input type="radio" name="spy" value="no" id="radio-regular" ><label for="radio-regular">Regular Game</label>
                <input type="radio" name="spy" value="yes" id="radio-spy"/><label for="radio-spy">Spy Game</label>
        </div>
        <div class="section" id="submit">
            <input type="submit" value="Submit">
        </div>
    </form> -->


    <!-- Where your madlib story will appear -->

    <script src="/static/jquery-1.11.3.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>

