@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transform($transforms) {
    -moz-transform: $transforms;
     -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
      transform: $transforms;
}
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
$color-republican: #c0392b;
$color-democrat: #1B6EA6;
$color-button: #8e44ad;
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    font-weight: inherit;
}
body{
    background-color: #333;
    color: white;
}
.header{
    background-color: #34495e;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 2em;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}
.question{
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    background-color: #8e44ad;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    p{
        max-width: 600px;
        display: inline-block;
        text-align: left;
        text-transform: none
    }
}
.republican{ 
    text-transform: lowercase;
    background-color: $color-republican;
}
.democrat{ 
    text-transform: lowercase;
    background-color: $color-democrat;
}
.form{
    background-color: #333;
}
#whosaidthisshit{
    display: inline-block;
    .answer{
        text-align: left;
        font-weight: 200;
        text-transform: uppercase;
        margin: 0 10px;
    }
    .error{
        font-size: .8em;
        text-transform: none;
        font-weight: 700;
        padding: 5px;
    }
    #correct{ background-color: #4BA82C }
    #incorrect{ background-color: #c0392b; }
    
}
input[type="submit"],
a.button,
button{
    text-align: center;
    text-transform: none;
    width: 300px;
    display: block;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    padding: 10px 30px;
    border: 0;
    color: white;
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
    background-color: #C9C9C9;
    margin-right: auto;
    margin-left: auto;
    &:hover{
        background-color: $color-button;
        @include transition(ease-in, .3s);
    }
}
button{
    
}
.phrase-container{ text-align: center; }
button.phrase{
    background-color: $color-button;
    display: inline-block;
    margin-right: 15px;
    width: auto; 
}
.counter{
    display: inline-block;
    font-size: 2em;
    font-weight: 200;
    vertical-align: bottom;
}

ul.quotes{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: .8em;
    line-height: 2em;
}
.youtube-player{
    width: 60%;
    text-align: center;
    padding: 30px 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 50px 0;
    
}
.youtube-player-container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 400px;
    max-width: 640px;
}
.instructions{
    width: 40%;
    box-sizing: border-box;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}
.video-title{
    text-align: left;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 200;
    padding: 8px 0;
    margin-bottom: 24px;
    border-bottom: 1px solid white;
}
.popup{
    display: none;
    @include box-shadow(0px, 2px, 8px, #000);
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    .popup-header{
        background-color: #34495e;
        padding: 20px 0;
        font-size: 1em;
        font-weight: 200;
        text-transform: uppercase;
    }
    .popup-body{
        padding: 50px 75px;
    }
    .warning{
        margin-bottom: 50px;
    }
}
#take-quiz,
#get-drank{
    a:link,
    a:visited,
    a:active,
    a:hover{
        text-decoration: none;
        font-weight: inherit;
        color: inherit;
    }
    &:hover{
        background-color: $color-button;
        @include transition(ease-in, .3s);
    }
    
}

.cloud {
    height: 400px;
}
.container{
    padding: 50px 0;
    text-align: center;
}
